@charset "utf-8";
code {font-size:12px; padding:2px 4px; color:#d14; white-space:nowrap; background-color:#f7f7f9; border:1px solid #e1e1e8; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.page {padding-top:20px; width:1200px; margin:0 auto;}
.page_pr {position:relative;}
.pleft {position:fixed; top:20px; width:250px; overflow-x:hidden; overflow-y:auto;}
.pleft_no {position:absolute;}
.pleft ul {border:1px solid #e5e5e5; border-radius:5px; overflow:hidden;}
.pleft ul li {border-bottom:1px solid #e5e5e5; height:48px; line-height:48px; text-indent:15px; color:#222; font-size:14px;}
.pleft ul li:last-child {border-bottom:0;}
.pleft ul li a {display:block; width:100%; color:#08c; position:relative;}
.pleft ul li a:hover {color:#08c; background:#f5f5f5;}
.pleft ul li a:after {content:""; font-family:sans-serif; display:block; position:absolute; top:50%; margin-top:-3px; right:12px; width:6px; height:6px; font-size:18px; background:#e0e0e0; border-radius:50%;}
.pleft ul li.on a {color:#fff; background:#08c;}
.pleft ul li.on a:after {background:#fff;}
.pleft ul li.son {text-indent:40px; font-size:12px;}
.pright {margin-left:280px;}
.page_tit {font-size:38px; padding-bottom:20px; color:#5a5a5a;}
.page_tit2 {font-size:24px; padding-bottom:16px; color:#5a5a5a;}
.page_tit span, .page_tit2 span {font-size:15px; color:#08c;}
.page_tit3 {font-size:14px; padding-bottom:18px; line-height:20px;}
.page_tit4 {padding-bottom:18px;}
.page_tit4:last-child {padding-bottom:0;}
.page_tit3 span {color:#08c;}
.ptable {width:100%; font-size:14px;}
.ptable tr > td {border:1px solid #ddd; padding:14px 6px;}
.ptable tr.first {font-weight:bold;}
.ptable tr:nth-child(even) {background:#f9f9f9;}
.ptable span.red {color:#d14;}
.maindiv {border-bottom:1px solid #ddd; padding-bottom:60px; margin-bottom:40px;}
.pre {background:#f7f7f9; border:1px solid #e1e1e8; padding:15px 8px; position:relative; border-radius:0 0 5px 5px;}
.pre.on {background:#1b2426;}
.pre ol {margin-left:28px; line-height:22px; position:relative; z-index:2;}
.pre ol li {padding-left:15px; color:#bebec5; font-size:14px;}
.pre.on ol li {color:#fff;}
.pre ol li span {color:teal;}
.pre ol li span span {color:#d14;}
.pre.on ol li span {color:#fff;}
.pre.on ol li span span {color:#fe4d79;}
.pre ol li.level2 {padding-left:30px;}
.pre ol li.level3 {padding-left:45px;}
.pre ol li.level4 {padding-left:60px;}
.pre ol li.level5 {padding-left:75px;}
.pre ol li.level6 {padding-left:90px;}
.pre ol li.level7 {padding-left:105px;}
.pre ol li.level8 {padding-left:120px;}
.pre ol li.level9 {padding-left:135px;}
.pre ol li.level10 {padding-left:150px;}
.pre:after {content:""; display:block; width:40px; height:100%; position:absolute; top:0; left:0; background:#fff; border-right:1px solid #ececf0; z-index:1; border-radius:0 0 0 5px;}
.pre.on:after {background:#242e30; border-color:#435a5f;}
.preicon {height:19px; margin-left:42px; margin-top:15px;}
.preicon span {display:inline-block; width:18px; height:19px; display:inline-block; vertical-align:top; -webkit-box-sizing:border-box; box-sizing:border-box; cursor:pointer; margin-right:15px;}
.precopy1 {border:1px solid #ccc; background-color:#fff; position:relative; border-radius:3px; box-shadow:2px 1px 1px rgba(0,0,0,0.1);}
.precopy1:before, .precopy1:after {content:""; display:block; height:1px; background:#ccc; position:absolute; left:3px;}
.precopy1:before {top:6px; width:10px;}
.precopy1:after {top:11px; width:10px;}
.precopy2 {border:1px solid #ccc; background-color:#fff; position:relative; border-radius:3px; box-shadow:2px 1px 1px rgba(0,0,0,0.1);}
.precopy2:before, .precopy2:after {content:""; display:block; height:1px; background:#ccc; position:absolute; left:3px;}
.precopy2:before {top:4px; width:10px;}
.precopy2:after {top:8px; width:7px; border-bottom:1px solid #ccc; background-clip:content-box; padding-bottom:3px; padding-right:3px;}
.pretype {border-radius:50%; background-color:#c2c2c2; position:relative; box-shadow:2px 1px 1px rgba(0,0,0,0.1);}
.pre.on .pretype {background-color:#fff;}
.pretype:after {content:""; display:block; width:12px; height:12px; position:absolute; top:-1px; right:-1px; background-color:#f7f7f9; border-radius:50%;}
.pre.on .pretype:after {background-color:#1b2426;}
.precode {display:none; margin-left:42px; min-height:100px; margin-right:2px;}
.precode .xtext {height:100%; font-size:14px;}
.example {border:1px solid #ddd; border-bottom:0; border-radius:5px 5px 0 0; padding:38px 28px 18px; position:relative;}
.example:before {content:"Example"; display:inline-block; height:24px; line-height:24px; color:#9da0b5; font-size:12px; position:absolute; top:0; left:0; background:#f5f5f5; padding:0 8px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; border-radius:5px 0 5px 0;}
.table_row {padding-bottom:40px;}
.inline {display:inline-block; vertical-align:middle; height:20px; line-height:20px;}
.para {padding-top:15px; overflow-y:hidden; overflow-x:auto;}
.parain {min-width:640px;}
.para span {color:#08c;}
.litit {color:#08c;}
.myclass {padding:15px; font-size:14px;}

.loginbox {padding:15px; font-size:14px;}
.loginbox div {padding-bottom:10px;}

.xtiper_icon_myicon {background-image:url("img.png");}

.page_con {color:#5a5a5a; font-size:14px; line-height:24px;}

.keduxing {width:650px; height:240px; overflow:hidden; background-repeat:no-repeat; background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAooAAAEECAMAAACY+OWLAAABGlBMVEX///8AAP+2//+Q2///2/+QOv9mAP+2Zv9mtv//tv86kP86AP8AAADbkP8AZv8AOv86Zv86Ov//25D//7ZmOv//tmYAAJkAZraQOma2ZgBmAAD//946ZrY6kNvbkDoAADr/284AAGbc//9mOpCQOgD/trwAOpA6ALwAZt6ROpn//+46OpBmADqZAJkAOs5mAJk6AGbbkKu2Zpk6kO4AALy2Zjo6AABmZv+Qtv86ADpmAGbO2/9mAKs6AKa/OsyrkO62/7bukKsAAKveZqW5AJ+ZZt6ZAKu8tv97o5CQRTo6OgC2/9ulOs63ALzOOpk6OjpmZgBmkP9mtt57kL2ZALxmALw6kJA6ZpBmZmYAUGbe/97bkGa2ZmZmOgBaIqzOAAAX50lEQVR42uzda3PSQBQG4JONQIopKJoJFAiFItYL3q2jzqgdW+/XGS+jo///b3hOcsIaaYZCRFHeZ0o2bAD98M6mm5wuBAAAAAAAsPYC3/dDOtKZyy6JqG/oeBrXDM3Dfvb1XaIbNwnWV3vokcqN4myNDi3mzE7TSNu+yv+Nc7cMwdriQXE0OLPVcwO//3LYe7bXczkgW77fcxt7vhxsD3lf4rbHbVtfovhNj7Z8L/CTobXlyxg3HLV8XwOevm/SGfnyLOq9kIafekkUr18ZSB4xLK4xHhV1/OOT65nLnweBJLMrPfFDNO66kiiPgp6rLyEVjajl6agomkaCHKZvtR+tnY1LRPJohRSE8W4cxYsXdond2CVYW9kobnnSaNSyUYxCeXFXX0KpiEfDX6N4jzdBl4TuRJ52Rj7j8fA2B32HpNEo3kzHRlhXmShqkxtFanX1JZRqvZ2O4g5NR1E7tTuN4lB+BUAUIRvFVt/YwVFSJ8ekyZ6gs1FshfIjJ1p5U3qC7krWJhOTuFs7ZXC0UWQ4QYOKeL6RzF6e7X35LlMXnqnwTIO3OqfhDfPSaYu+RN8dT1u6MmHhrcx2fE7rzlA+1P4LciztlE/rm+R9IclbRpi2wHJw6o7ZqXAxB5aEhz9vdqeFS9ywVHKSFx4BAAAAAAAA/Bdu4GoerIT2RyQRVsL2eUQRVgKiCCsCUYTV0L6KwixYDRgVYUUgirAiEEVYFbjEDQAAAAAAAADwf5BlIOZ0fRcXiKCY4ssl6p/WowYSCphjucTtg/GT+/Tm1ePx+CnR/lie7T+5wI0uOII7OFDA8ZdLbB/cp+3Xg/bBoexuvyKSx+NDOneYLMOEm4lQxPGXSzz3kDf7T9uvB7LPg2I8LD6+T+0HyeJ0iCIUN3u5RBvFB/E+PxM/RxE1kFDQ7OUSI9+jJHEP+AT9UALIg6ONIk7Q8BvMXi5Ro0hyTn7IwXszHh/ywMjPPgz2xx++HowPMW2BHMtbLpGjmHsxB1GErOUul8hj4lNc4gYAAAAAAAAA+EdtOh5RxTE0hXulW16CLyuA5ZctbsQ5KxkSJ06RNeneQBRhQUnZIjcjeWS+0HlqkDtxUvpKdxzH5cyxGpV5U3LibpO+BKDIqHjblUf2C501ilbZSOZqtFHTUZGjZ0rVjaodLMu4AwNFoiiN/Pzyhc7TNHNnNYq85edJFJFBKB5F8dyNPMp+oTOiCH+OLVsMPnEM7Rc62zlzXhRPE5W9nCi2+ggmzEnLFtmQt9kvdD4yihWnzpOVmuw4Vd6rluo8bS47zCUlv3ICLMj+XUFxjbuYR8OCpJg71LLF4gIMigAAAAAAAAAAy6TLLNo7JbqXW7ZIZanMSVrXFixaqF6EwpqGGh3dyy9b1NvQJY826hy6GsW3/yxUL8Kcl7Z7LjX2+kaWWUzKF8OmSddebL7LL1uUbu09m96YLtV5cPSkltGUHQ/VizCPoJtumiY5S7f6k1FxGFIQ5pQtspLRRMpu/CjX+KhLm3WqeKhehDlrxALfu+1qFCMvWWrRnqDz70prmZjkzkaRm42qZLdGAPPgqEXPOk2zQBQlc6xSn1SO8Y92V04jijCvb2/d5x3NXRzBoG+0iFGjmDcTrrjJnxeITZdOvCcqV+PuSo1/UL0Ic6/MHU2WWZTixf6LUVLEyJsR94d5UTwbT2EcZuLW5a6SXOHZjKctVVQvwt9zFtWLsBJ4TPRQvQgAAAAAAAAAsDz2TogtW5w+lle2KFvHqWqDskUoomlmHmt08ssWNyWA2qBsEYrQmkRdUdGWLX7aCvWYVi8eVbaYjSLKFqEArUlMV1S0ZYvDkR7TUTGnbFHOzF7SoGwRitDqG11R0daKSTD1mEYxX9log7JFKBxFXVFxsSiWjDYoW4SiUZR6Wfs8jmFrlB7T6sWjZ8Jll1da1AZli1CA1iTqiopatijn6y876TGtXjwyilqoqA3KFmEJGh2ULf5g79p2nIahYGerbktRW4HgESEkfoHLI6/wBfz/l5ADkx0Nh4PrlAJdeWjjxPbxJR6Ok83UGfj3eBm+ccgWBwYGBgYGBm4TeNjRAZQA4YyS8FAcTQYGmnCeOf+weogXuc6hIj8zCQcVBzq9ovNPrOziE9wGg4oDHQBBTwayCGCK5WkAM50HFftQixG3uPv+FsqUkZHMIuv7Y+Md00Jh3rYTsl2Hudvla0Nwl1HcEL/vJeATc03FzWkl5LTHhvT37YZsUaKx1sv+mEXWd/f7xjum2+Z1hozazs1rO4neQOQJGgGn0297CXEvu1VX5tkDBLYlp93iG5GnR3uvv8Yai98f+L3+IoUiRYweWa62uMU6hgrHzR3/p9/jxL0Ad5mFcfHgerNrvGN6Ov6w5jPF2fyAOKI5wZy0iywnPpl8dsfAq2VFT6Z88W2b0246OmavCO65V9SdTaOXkDlUsArTSX5xAHbR2o9Pcce2VGk3JUd5u4tHctNLoH8sriiFYsggqIxoyRY5ODEFcxracCMPw2NmOSDAE/Xbd0zH2Afd79eRQPOQXsTXwZy0ezIR9rssI3wZA6+WFUVafNvmK+OEXysWXnEGGr00r1hQkcy6P4X85Hsbwj7COg234xjJrxCJhTbs3VqysFnE6JEZ6vFhR2pyNPfxcSoyy9kv9mVcFBTGND8gYGeZOVmcfnUTTmg3Bw5WFGF8Osw59OlakQEUZVSse6lCoLmecfCT/KAG3a7VlirtlhxjSUVGBhSZIQeTqBi738NMRbmnZVQUw51Z7n7DiNMxA1VrFW3WU7ltc5sL3CvSFTJQgnaaVJRDBMTxfJKdbmxLnXY7XnH1OX7R8mqiWsgTyToqFCli9EhN0IYn2MfpjR1R8fBBlGEks3S8Y3oT881+So5jmme/ulJOVbTZx+BEsQwcrCgG70WXOU+Be0V5MPk3AY1e6pbFJuh8kkMNyrau1ZacdoO/tXz+nncokyZx2r75JIUiRYwWWfcvrsG3AJ6dVnw7tM3EjGSWjndMxx3D8WHCpHlMmInQzKmKnmEXR9OWgWOuKEh3jrnqOZE2BF0hQ2cnM7Z6ycwKWVQ+yZvTJuyjtdizLVXa4/vbzqPHZujLB/4H3GP8HGxgYGBgYOAagAkHHehS2cCOUwIKA4/KagjLZaUNPdjjglMRgTmIzTIuIvMmP1/mVnElzyD8nGUocR4NjCCK4r8VemVfRm8rnjxywjNfpiLNrMyseMCg4uOBBAg+vIh/sekCnFjQMzglgRm4zRYA09WGLPqm3X89SXcKz/rFet0Vya5du+sVZVSXIoM2DvvpgYVK40Nf0ULEDPDILfhMzxsDwD2bzaMq0qhos3bBJxNnQ6EStBWeHLtYcB1Jo4RnekSlwHGpWK9dkdv11q7CvBSldUBSoO1uJbUkxBWnovyiW7CQrD+MryhmO8ZKfrSX53JN3xJnK5qRAVXssrvNumNwwuYKkkYJz0IPFUo6StwYULp3wLMIlor1uPphR0UmDvQ0r53OkZFx6rY4/bJ2VkQDrstIUNDHxofFPjxYeIsoxU7lPLjGhQcqBtyCD5uT/rC6bQHLVPHmCFE5OMGSNekrHjb87GbH4LALf1DS6MIzF3MwoHRvtQ3522KxHlc/7KtI8DSv3ZWGUdghzlmunRXNBlyX0dWEbHzUtTmJRNu1XCSpqI1P0IFkoQ5pkGiZ73zl/+w3LLLId9AEBPeWsnGOijbrDhawC39W0ujCs9wI6aWisZG2UKwXeY69FQme5rWbvCvCiUNF7UZFtsV1M2z8YUfHRs+sGuurMPlE5OuEU/YAxmOFrkVMh/VtSyrHZnq4KTT87F/n4NSyxXZarfzrZ0i/WI+rH/4NKsZEUNRuVIxKMhXZeKcizyQhHvpwy4/RwqmY9YeJWv6LgTOpaAwmVAT3EBu35PCze10sYBculzTWorT4nGaJGwNK99iIpWI9rn7YV5HgaV67Kw2nxnDcc+2siAZcl5F3uaQiGx8Zt5qgfYb1+wpkMsEs0kFUSFOi9orQYaBJRb+WhLtKs4eGn8PVMTjRhStIGiU848U6JW4/As6+XL7wuFCsR/N9Z0WCp3ntDObI4xNV77WzIhpwXUaeHgn65tW+jy9EojidNujmtWBUBJIFb6ilP3Qn5lQEVLgJs61iIMkNRUWQup6R6ZAFh5/NO39wpi4MSePFcE9bQ9frd/JrHZDF/79S/eT4Bv4lNsCu5hGAtV7MsRS61B0YGBgYGOgD+hbdg+79tFXCZci19akT+M32mJFSml2GZ7ce51wOqMxmXpc2lGjnR79usTBXr2V4NahH9aJ7EDTWHu9UVHQHVLmGD2dSsVzDCM4aNVsxzS7rOFFR8ep+7pOfLj9LtfZQ8Ac5ZX615CLdossy4KxfXQ068+1F91Bo9bS1/vLbLUiFEwT9fr39v4ObZpeL7nsjM3UdTLMTlUnQoKLsUOYXgy7WLbpOyDrA/esAQHPRPRtSJlUPmRZSEUIfFaHzy/3UmkQvGtRdzr1m0eacsvaqopDNJ8WFRGOCbmsV5aYv0y2yIBvc668JagXXi+75nAcmCbSd94kz1/rLXhH1BL3dNSdoCa9YCqz5khXWXXZljLcvu+76mkRJ3ikGsm2MMNSrMr/c2ELdolig3Oqpkf4agFAtupdXPlN8HiV3Ae21/qpZgZ/+a8XCr4Aw71d0meneFXg3NWZickY6Syyhog6EX7tE1PmhhvTrFgWVq/79Pa/IsutF93wA8lVJ81qxXusve2ezpufS08ZwpC6IFCckAeihbu5yoiJEKhO7iKCCGmxJspNYlvG1k0KLis5zffp1i0B526Jj4B9QUY2EtykNu9qN4g66taKhYPQXsZBE1Vp+0NYa9H3BSagpoO4y0lAoTR4mqa7zsMoT+gStqivtoR9B25zfiYN+3WKmYmRxKlrDrwMWXi+6p+q5oxSjTxpenLWiIQEhDYNTUYLI2svBDNNwtLq8cgdf2ebLW69XM6LsZCDul9pDIFGxzK/W9usWFZN/vOjBVanIKutF94p5QIMEcW85Fd0v+bTmVOQT/JKK0H6xJQ3qLttwSsafqOjkzByQmdsZ0SrBl4eZZsjXd4t1i+7UzSvy+O/8MYfbtOhek4rZRSBRsb2iYTEbo/zVU3xrKqpLhLXVf2lXd5mAfzMVuala7FFsjNjZoGLyFzUV+VmqWxS8IEDD8he8Yt6FYhSlCPeE7uuB1P3mWn9eU77My1S0CVrUSusOpmnaolB32Q0Y2GydKla8AMWrdltCotIeOqBNKz+ARbrFXJ3/Eew//un0N/auYLmJKIbVAz0wDLdeOPL/Pwk7EWg0rnEcJZNux6KhyfLynjcV3mxXkQyYIsPF4un4+j1OZbG7WCwWi4UFlQP053RE1AN8RHEhphcb6m5olRv3aWBgjjYHn6i6PUrg8Hf7i2jgEVTUi8eN2DB9kjhRM0mAN5r7XjA0tolLWdKQY0GiuYThQudmOSLQqsWGIGdjYojt68T6cbqi3OUXrz/UVy71yQ/riqSiigJqsWFEtCaGuL9M/DhdMQA5HgcVRi+FJETvSTu1HfiETyiKVAwsXesrY2BimHUBbu05rdq3pzxueWoFFspPLz6krQU6P7fHd0WVsvAyCklZCOH8UGFMmeQtLLMUGwZRmxhGI1Hxate0at+ekkrPwTM1UjrbKWKWxzgnelRUj9OsyxdiSDfm5vuECtdUJMGiFhuygLr7kadCXcCqvU+rnttTwjXyGMmpYYQI80hMDwdEuI2IpaPaKRYFes6JQdwkzNHTA7Y5bkvG0KprkXnuFCqsukj+kT5HbhVULE0MC4oCVu19WvXcnhKukQimxtQQmcA8EpPBAREGkQAro51iVaDvnBhW7gOppF0xlHzYUMocscEPFU6SmHRIjlpsqMXVn9G5IB+gzdqbtOq5PSVdIxFMjalBRZhHYjJ4fcGVD2BlXL8o0HNOdIRkUQnTqZmN1FnkTqamHypMogiVEhUrfWVIN0+1NqctXu1dWvXcnpKukRglVIR5ZEdFVoYxRYGWcyIJNYd+pka/ePaqTNPvuSv6ocJpfuncpFYpNoyQ7URPRb/2Pq16bk8J10gIhzE1jBBhHilUpEEkwMpA+KJAzzmRnWsO7S3kHt806pj8jdQIPrJDhbkAS0smg7XYMLLrRt0VtWy/9j6tem5PCddIBFNjapyawDwSk8EBEQaRACpTO8V3CzSdE2OvXS0A7aRrp7h4Pi4GkYvFYrH4FEhvOF2Dwbwt8vD2XuRZ4p5ufkCMvSeT2GyFFSb5kkmdYTDYUpFr1QTkuhydr+b4YuHQz1TOvSdrv8mIPZG8BVF0RdtgULc3Rhwcn0UP2nbC64uFx2IMvSfr8PANXfapmNhiGwzW5Gu7ItbDEvEEKnbek4Xf5FLxZiS98z0NBgPQMVwl15CkYBigo0xdHeVkwsix9yRVI8YB2lYz5mBsPpKRM1ATqUrHhwE/e4FpMEjk41tnmg2G1FT09ZDq5MGlx96Thd+k0LVX9flqRo7kr7b5KAkX5+tnpWOGL1zkT4TwDQY5OdBTMadwB6kYSZpraQqViqp8HHhP1n6TwZuWCjkiwqghVTTDtjUYGy6W+kiFi1gPIc94aSCGxHpQMx6CyOOmSsd6H7DCHLWIyjcYBPqumP8VnUiEYTo+XE2hqH605Q28Jyu/STlAa6mQIyKMGlJFM2xbczfRB/koy4GxHkKe8dJADIn1oGY81jtuonRs9gGknUGZRBbYBoPNe8Uc9p5PYaoDNODrIUlFpfnAe7L2mwzetFTIEVEVpIpG2PaAitx9rIdkXbw0EENiPUjI/jz9+BKlY7MPVmMsmoBtMChDFZi0/1xCvLtAuJpC7fqyfyPvSQzoAkNQKg+rCKOGVNEI255SEUeITEUsgvWoZnz9ctyl0rHZB6xgUpEtyDYYzFTkcJkn0Z7E6Kno6Op443+MufekUrHuiiwVckSEUUOq6IZtKxWR4KyPVLiI9d4wiMnk/9aDmvHg2psqHZt9wAoWFbPWzDcYlJPtIpsmmZ9jq7yZC44nTF1duvoXQ+/Jym9SLTa1VMgREUYNqaIZtq3B2HCx1EcqXKSoMfjSQAyJ9f6qGS80U6Xj//ZhI59Ph/P4RF4aLo7KJ92HRY3XszhFHskmZ9+HxWKxODni8m0djRYPgB/GvIK7hQ0zjHmpuHgGglgqLp6BPow54hZzvh97lr+w3ysWXXFmzvdtqbiYoQ9jBq435wMn99PgC4+OtWj/enM+XC9fLKzTlpqP15vzvSwWDnIYs1DxanO+PTQvDPRhzANzPuLnrz1O/27vfnrThuEwjqPkkoNPoJhCyp+xhoZsIkuIKm0qF267rpdJe//vY/5lSZm1sAoUGrf6ftTWmPMjG+InKc7x8j9jPv/hfGI0HQ+Azp3/cL7hVzZrOCFkUQQAAAAAAHgfhl+842Si/nMsE2utk/p1utEHrlWiE8Pb1tnNySimG6v6uNwTRXQhVMa4XgebWRPFuVIL3z7IrhbF7UqWQ116z1GMtbxbDXR0cRF7HbRnw0/ya0XRWhXzpIli9OgP4u0qPpiBDRudR3GujIXfvkHnWusmis0aWWixGwDdRjGcnf6sGJfecVU0osxksTB7NHAZ2YFH06AOnz0bfZO32jfofLuKsiaKsjnLi1gHJpMBvUhcZKLUzOSv3outWWgGCZUVxVzrpNqSyyedxFoE1RA0317oRcIV9CLhCHqRAAAAAAAAnbOriS/fuh89crUQV3XjtRxME0W8IqsH8SAnfXLkt/jpSxQnam2f+C331ameGX5k5ufgx7r0aCii4yiOPvvVLQV3gZzaSRR/HTuz9qqYbnQSJzJZ3ns0FNENuw82D4a3zQZ9tx7U/o1iUk9MFGko4spRfPjgnY5i8BxFGorofIP++OfFd+mJzcyqGK5bi4rF7q8oFqVHQxFdaaqJczPMqm8vaiwXc0KlgiaK9g1WufytJk/77YqGItxCQxGOoKEIAAAAAABwJVG2k6Hg5Bg9k7Pj6qk3HNWhXxLFenEUczUbAL2QKBpFQhTREzuKOQUv9CzdlB5RhAPsDXqyoFSDfthfW0ZTPiqiJ/bFHFPXBvoRZQmXuAEAAAAAANwVZVy4gRuW93QT4QSiCEcQRTiCKMIR6YYbWeAEVkU4gijCEUQRbpCGIgAAAAAAb91v9lCQVSoiYB0AAAAASUVORK5CYII=');}

.hide_ful {display:none;}
.app_width {width:100%; margin:0 auto;}

.top {background-color:#08c; position:fixed; top:0; z-index:10;}
.top_zw {width:100%; overflow:hidden;}
.top_height {height:56px;}
.top_cen {line-height:56px; color:#fff; text-align:center; font-size:15px;}
.top_btn {width:56px; position:absolute; top:0;}
.top_btn.ll {left:0;}
.top_btn.lr {right:0;}
.top_btn button {border:0; width:100%; height:56px; position:relative; background-color:rgba(0,0,0,0.1);}
.top_btn.ll span {width:30px; height:2px; position:absolute; left:13px; display:block; background-color:#fff;}
.top_btn.ll span:nth-child(1) {top:18px;}
.top_btn.ll span:nth-child(2) {top:27px;}
.top_btn.ll span:nth-child(3) {top:36px;}
.top_btn.lr span {height:2px; position:absolute; top:26px; display:block; background-color:#fff;}
.top_btn.lr span:nth-child(1) {width:20px; left:11px; transform:rotate(-45deg);}
.top_btn.lr span:nth-child(2) {width:20px; left:25px; transform:rotate(45deg);}

.para_app {display:none;}

@media (max-width: 1200px) {
	body, html {width:640px; margin:0 auto;}
	.show_1200 {display:block;}
	.hide_1200 {display:none;}
	.app_width {width:640px;}

	.page {width:auto;}
	.pright {margin-left:0;}

	.pre:before {content:"代码在 pc 端查看"; display:block; transform:translateX(48px); font-size:14px;}
	.pre ol, .preicon {display:none;}

	.maindiv {padding-bottom:30px; margin-bottom:20px;}

	.page_tit {font-size:28px;}

	.pleft {background-color:#08c; top:0; left:0; width:215px; height:100%; z-index:100; overflow-x:hidden; overflow-y:auto; transform:translateX(-100%); /*transition-duration:0.2s;*/ transition-timing-function:ease-out; transition-property:transform;}
	.pleft.on {transform:translateX(0);}
	.pleft_zw {width:100%; height:100%; position:fixed; top:0; background-color:rgba(0,0,0,0.2); z-index:99; display:none;}
	.pleft_zw.on {display:block;}
	.pleft ul {border-radius:0; border:0;}
	.pleft ul li {border-bottom:1px solid rgba(255,255,255,0.2);}
	.pleft ul li a:after {display:none;}
	.pleft ul li a, .pleft ul li a:hover, .pleft ul li.on a {color:#fff; background:none;}

	.para {display:none;}
	.para_app {display:block; background-color:#f0f0f0; font-size:14px; text-align:center; padding:10px 0; margin-top:10px; color:#000; font-weight:bold; cursor:pointer;}

	.hide_app {width:0; height:0 !important; overflow:hidden;}
}

@media (max-width: 640px) {
	body, html {width:100%;}
	.app_width {width:100%;}

	.page_pr {margin:0 15px;}
}